{% extends '::layout/layoutAdmin.html.twig' %}

{% block body %}
    <h2>Modifier la page</h2>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <button class="btn btn-primary" type="submit" value="Edit">Modifier</button>
    {{ form_end(edit_form) }}
    <br />
    <a href="{{ path('adminPages_index') }}">Retour</a>
    <br /><br />
    {{ form_start(delete_form) }}
        <button class="btn btn-default" type="submit" value="Delete">Supprimer</button>
    {{ form_end(delete_form) }}

{% endblock %}
