{% extends "::layout/layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                {% include '::modulesUsed/navigation.html.twig ' %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% include 'UtilisateursBundle:Default:modulesUsed/utilisateursConnecte.html.twig' %}
                {% else %}
                    {% include 'UtilisateursBundle:Default:modulesUsed/utilisateurs.html.twig' %}
                {% endif %}
                {% render(controller('ShopBundle:Panier:menu')) %}
            </div>
            <div class="col-md-9">

                <div class="row">
                    {% if produits|length != 0 %}
                        {%  for produit in produits %}
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail">
                                    <img src="{{ asset(produit.image.AssetPath) }}" alt="{{ produit.image.name }}">
                                    <div class="caption">
                                        <h4>{{ produit.nom }}</h4>
                                        <p>{{ produit.prix|tva(produit.tva.multiplicate) }} €</p>
                                        <p>
                                            <a href="{{ path('details', {'id' : produit.id}) }}" class="btn btn-primary" role="button">Voir</a>
                                            {% if panier[produit.id] is not defined %}
                                                <a href="{{ path('ajouter', {'id' : produit.id}) }}" class="btn btn-default" role="button">Ajouter au panier</a>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                </div>

                <div class="navigation">
                    {{ knp_pagination_render(produits) }}
                </div>
                <!--<nav>
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>-->
                {% else %}
                    <p class="text-center">Aucun produit n'a été trouvé</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}