<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block titre %}Administration | PersonaShop{% endblock %}</title>
    <meta name="keywords" content="{% block motsCles %}{% endblock %}" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Administration</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% include '::modulesUsed/navigationAdmin.html.twig' %}
        <div class="col-md-9">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>

<hr />


<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Informations</h4>
                <ul class="nav nav-stacked">
                    {%  render(controller('PagesBundle:Pages:menu')) %}
                </ul>
            </div>

            <div class="col-md-4">
                <h4>Notre entrepôt</h4>
                <p><i class="icon-map-marker"></i>&nbsp;Lorem ipsum dolor sit amet.</p>
            </div>

            <div class="col-md-4">
                <h4>Nous contacter</h4>
                <p><i class="icon-phone"></i>&nbsp;Tel: 00 00 00 00 00</p>
                <p><i class="icon-print"></i>&nbsp;Fax: 00 00 00 00 00</p>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <p>&copy; Copyright {{ "now"|date('Y') }} - Licence professionnelle DA2I</p>
            </div>
        </div>
    </div>
</footer>


<script src="{{ asset('js/jquery-1.10.0.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
<script src="{{ asset('bundles/pages/ckeditor/ckeditor.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>